{% extends "base.html" %}
{% block title %}Set Up Parameters{% endblock %}

{% block content %}
    <h1>Set Up Parameters</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.max_size.label }}<br>
            {{ form.max_size(size=32) }}<br>
            {% for error in form.max_size.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.min_size.label }}<br>
            {{ form.min_size(size=32) }}<br>
            {% for error in form.min_size.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}